/* body {
    background-color: darkcyan;
    border: solid;
}

hr {
    border: solid;
    color: darkred;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 13px 30px;
    flex-wrap: wrap;
} */